.postDetail {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);

    &.open {
        opacity: 1;
        visibility: visible;
    }

    .exit {
        position: absolute;
        top: 20px;
        font-size: 30px;
        right: 20px;
        cursor: pointer;
        background-color: transparent;
    }

    .postWrapper {
        padding: 20px;
        border-radius: 15px;
        display: flex;
        background-color: var(--darkblue-color);

        align-items: center;
        justify-content: center;

        .postImage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .postStatus {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .postOwner {
                width: 400px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 40px;
                border-bottom: 1px solid var(--lightblue-color);
                font-weight: bold;

                .ownerAvatar {
                    display: flex;
                    align-items: center;
                    div {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;

                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .more {
                    display: flex;

                    .circle {
                        width: 5px;
                        margin-right: 2px;
                        cursor: pointer;
                        height: 5px;
                        border-radius: 50%;
                        background-color: var(--lightblue-color);
                    }
                }

            }

            .postDescription {
                padding: 10px 40px;
                width: 80%;

                .ownerAvatar {
                    display: flex;
                    align-items: center;


                    div {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;

                        overflow: hidden;
                        border-radius: 50%;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .name {
                        margin-right: 10px;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .status {
                        font-size: 15px;
                    }
                }

                .postedDate {
                    margin-left: 60px;
                    margin-top: -10px;

                    p {
                        font-size: 12px;

                    }
                }

                .commentBox {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    height: 250px;

                    &::-webkit-scrollbar {
                        width: 12px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                        background: var(--lightblue-color);
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    }

                    &::-webkit-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.4);
                    }

                    .comment {
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 20px;
                        width: 100%;

                        .ownerImage {
                            margin-right: 20px;

                            .wrap{
                                border-radius: 50%;

                                width: 50px;

                                height: 50px;

                                overflow: hidden;

                                img {
                                    width: 100%;
    
                                    height: 100%;
                                }
                            }
                        }

                        .ownerName {
                            width: 400px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                            .content {
                                display: flex;

                                p {
                                    font-weight: bold;


                                }

                                p:last-child {
                                    padding: 0 30px 0 0;

                                    width: 60%;
                                    margin-left: 10px;
                                    word-wrap: break-word;
                                    font-weight: lighter;
                                }
                            }


                        }

                        .replies {
                            display: none;

                            &.view {
                                display: block;
                            }

                            .replyItem {
                                display: flex;
                                align-items: flex-start;
                            }
                        }

                        .reply {
                            display: flex;
                            cursor: pointer;

                            align-items: center;

                            span {
                                margin-right: 10px;
                                font-size: 12px;
                            }

                            p {
                                font-size: 12px;
                            }

                            .heartIcon {
                                margin-left: 10px;
                                width: 100%;
                                justify-content: flex-start;
                                display: flex;
                                align-self: center;

                                .icon {
                                    font-size: 20px;
                                }
                            }
                        }

                        .viewReplies {
                            align-items: center;
                            display: flex;
                            cursor: pointer;

                            .line {
                                margin-right: 10px;
                                width: 50px;
                                height: 1px;
                                background-color: rgba($color: #fff, $alpha: 0.5);
                            }

                            p {
                                color: rgba($color: #fff, $alpha: 0.5);
                                font-size: 13px;
                            }
                        }

                    }
                }

                .postLiked {
                    display: flex;
                    flex-direction: column;

                    .iconBox {

                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;

                        .likeIcon {
                            .icon {
                                cursor: pointer;

                                margin-right: 10px;
                                font-size: 25px;
                            }
                        }

                        .saveIcon {
                            .icon {
                                cursor: pointer;

                                font-size: 25px;
                            }
                        }
                    }
                }

                .commentInput {
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .input {
                        width: 90%;

                        input {
                            width: 100%;
                            border: none;
                            outline: none;
                        }
                    }
                }

            }
        }

    }
}