

* {
    font-family: 'Philosopher', sans-serif;
    background-color: #06080F;
    color: #fff;
    
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
input,p,span{
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    background-color: transparent;

}
div{
    background-color: transparent;
}
button{
    cursor: pointer;
}
:root {
    --gold-color: #D88447;
    --lightblue-color:    #0e1731;
    --darkblue-color :#06080F;
    --online-color :#2a8f4c;
    --offline-color:#232346;
  }