.profile{
    width: 100%;
    margin: auto;
    .profileHead{
        display: flex;
        align-items: center;
        width: 50%;
        margin: auto;
        justify-content: space-evenly;
        .avatar{
            position: relative;
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            width: 170px;
            height: 170px;
            display: flex;
           .avatarWrap{
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            img{
                border-radius: 50%;
                width:100%
                
            }
           }
            .icon{
                background-color: transparent;
                position: absolute;
                font-size: 35px;
                bottom: 15px;
                cursor: pointer;
                right: 0px;
            }
            #fileAvatar{
                visibility: hidden;
                right: -240px;
                bottom: 20px;
                position: absolute;
            }
        }
        .details{
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .userName{
                display: flex;
                align-items: center;
                p{
                    font-size: 30px;
                }
                button{
                    margin: 0px 20px;
                    border-radius: 15px;
                    border: 1px solid var(--gold-color);
                }
                .icon{
                    font-size: 30px;
                }
            }
            .userFollow{
                display: flex;
                width: 100%;
                align-items: center;
                p:first-child{
                    margin-right: 40px;
                   
                }
                p{
                    span{
                        font-weight: bold;
                    }
                }
            }
            .madeUpName{
                width: 100%;
                p{
                    font-size: 15px;
                }
            }
        }
    }
    .postButton{
        width: 80%;
        margin:20px auto -50px auto;
        display: flex;
        align-items: center;
        button{
            border: 1px solid var(--gold-color);
            border-radius: 15px;
        }
    }
    .allPosts{
        display: flex;
        overflow-x: scroll;
        align-items: center;
        // justify-content: center;
        padding: 20px 20px;
        width: 80%;
        margin: 50px auto;
        &::-webkit-scrollbar {
            width: 12px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: var(--lightblue-color);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255, 0, 0, 0.4);
        }
        .post{
            cursor: pointer;
            z-index: 10;
            margin-right: 20px;
            padding: 15px;
            background-color: var(--lightblue-color);
            border-radius: 15px;
            &:hover{
                .postHover{
                    opacity: 1;
                }
            }
            position: relative;
            .postImage{
                width: 170px;
                overflow: hidden;
                height: 200px;
                img{
                    height: 100%;
                    width: 100%;
                    
                }
            }
            .postHover{
                opacity: 0;
                border-radius: 15px;
                transition: all .2s;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba($color: #000000, $alpha: 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 15px;
                   margin: 0px 10px;
                   display: flex;
                   align-items: center;
            
                    .icon{
                        font-size: 20px;
                        margin: 0 5px;

                        background-color: transparent;
                    }
                }
            }
        }
        .loading{
            background-color: transparent;
        }
    }
}